:root {
    --dark1: #001312;
    --dark2: #131200;
    --dark3: #120013;
    --light1: #00ACAB;
    --light2: #ACAB00;
    --light3: #AB00AC;
    --mild1: #acabff;
    --mild2: #ffacab;
    --mild3: #abffac;
    --null: #131213;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}   

body {
    background-color: var(--null);
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin: 0px
}

.colours1 {
    background-color: var(--dark1);
    color: var(--light2);
}
.colours2 {
    background-color: var(--dark2);
    color: var(--light3);
}

.colours3 {
    background-color: var(--dark3);
    color: var(--light1);
}

main {
    color: white;
}

input[type=checkbox]{
    display: none;
}

/* ----- Styles For Mobile ----- */ 

header {
    width: 100%;
    height: calc(30vw);
}

nav ul{
    display: none;
    max-width: calc(200px + 1.5vw);
    font-size: calc(20px + 1.5vw);
    list-style: none;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li a:any-link {
    color: var(--light3);
}

nav ul li a:hover {
    color: var(--light1);
}

input[type=checkbox]:checked ~ ul {
    display: block
}

.logo {
    max-width: 20%;
    margin: 2%;
    margin-top: 5vw;
}

nav {
    position: absolute;
}


h1 {
    font-size: calc(9px + 5vw);
    padding: calc(12px + 8vw) 6vw 0px 0px;
    text-align: end;
}



/* ----- Styles For Desktop ----- */ 

@media only screen and (min-width: 860px) {
    .dropdown {
        display: flex;

    }

    header {
        height: calc(14vw);
    }
    
    nav ul{
        display: flex;
        max-width: 100%;
        font-size: calc(15px + 1vw);
        height: 0px;
        justify-content: space-around;
        width: 76vw;
        float: right;
    }
    
    input[type=checkbox]:checked ~ ul {
        display: flex;
    }

    .logo {
        max-width: 10vw;
        margin: 2vw;
    }
    
    h1 {
        font-size: calc(9px + 3vw);
        padding: calc(12px + 6vw) 0px 0px 0px;
        text-align: center;
    }
}

/* CV STYLES: */


.container {
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
}

.container section {
    margin: 20px 0px 0px 0px;
    width: 49%;
}

.container #contact {
    width: 70%;
} 

.container img {
    margin-top: 20px;
}

.container #centered_image {
    display: flex;
    width: 49%;
    justify-content: center;    
}


.cv_section {
    background-color: ghostwhite;
    color: var(--dark1);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
}

.cv_section h2, h3, h4 {
    color: var(--light3);
}

.cv_section h2 {
    text-align: center;
    margin-bottom: 10px;
}


.cv_section p {
    margin: 10px 0px 10px 0px;
}

.cv_section ul {
    list-style: disc;
    padding-left: 20px;
}

.cv_image {
    border-radius: 50%;
    width: 200px;
}

hr {
    margin-bottom: 10px;
}

#interests p {
    text-align: center;
}

@media only screen and (max-width: 700px) {

    .container {
        flex-wrap: wrap;
    }

    .cv_image {
        display: none;
    }

    .cv_section {
        min-width: 100%;
    }

    .linklabel {
        display: none;
    }

}